body{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}
h2{
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Harlow Solid Italic', sans-serif;
    text-align: center;
}

.result{
    font-size: large;
    color: black;
}
button.equal
{
    grid-column: span 4;
}
.calculator{
    border-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    margin-left: 40px;
    padding: 20px;
    background-color: rgb(34, 56, 64);
}

.buttons{
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;
    grid-template-columns: repeat(4,1fr);
}

button{

    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(46, 108, 90);
    color: aliceblue;
    border-radius: 5px;

}

.operator{
    background-color: white;
    color: black;

}